openapi: 3.0.1
info:
  title: WClasses API - 1.0.0
  description: >
    ## API WClasses Educacional

    Documentação da API do Sistema <a href='https://wclasses.com.br'
    target='_blank'>WClasses Educacional.</a>

    <br />

    Caso tenha alguma dúvida entre  em contato com os nossos <a
    href='https://wclasses.freshdesk.com/a/' target='_blank'>Canais de
    Suporte</a>

    <br /><br />

    ### Requisições

    Deve ser utilizado token do tipo Bearer em todas as requisições. <br>

    Exemplo: ```Bearer
    NzM.HNWRIkyFLgrIduVuBitlrs9hoYtahwmYFlLDGVVu6wqn3ODElWV_cQQ_Uslo``` 

    <br /> <br />

    Para obter o token de acesso entre em contato:  <a
    href='mailto:desenvolvimento@wclasses.com.br'>desenvolvimento@wclasses.com.br</a>
  contact:
    email: desenvolvimento@wclasses.com.br
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
  - url: https://api.wclasses.com.br/
security:
  - Bearer: []
x-tagGroups:
  - name: Cadastros
    tags:
      - Alunos
      - Pessoa
  - name: Acadêmico
    tags:
      - Coligada
      - Filial
      - Período Letivo
      - Disciplinas
      - Cursos da Instituição
      - Cursos por Filial
      - Turmas
      - Ocorrências
  - name: Financeiro
    tags:
      - Contrato
      - Fatura
tags:
  - name: Alunos
    description: Lista, cadastro e edição de alunos
  - name: Professor
    description: Lista, cadastro e edição de professores
  - name: Pessoa
    description: Detalhes cadastrais de qualquer pessoa independente do perfil
  - name: Coligada
    description: Dados da Coligada
  - name: Filial
    description: Dados da Filial
  - name: Período Letivo
    description: Períodos letivos cadastrados no sistema
  - name: Disciplinas
    description: Disciplinas cadastradas
  - name: Cursos da Instituição
    description: Cursos da Instituição
  - name: Cursos por Filial
    description: Cursos por Filial
  - name: Turmas
    description: "Turmas cadastradas"
  - name: Ocorrências
    description: Ocorrência Escolar
  - name: Contrato
    description: Contratos adquiridos pelos responsáveis
  - name: Fatura
    description: Faturas geradas para um responsável

paths:
  /aluno:
    get:
      tags:
        - Alunos
      summary: Aluno - Lista
      description: |
        Lista os alunos cadastrados no sistema, pode ser utilizado paginação
      operationId: Aluno - Index
      parameters:
        - name: offset
          in: query
          description: Paginação offset
          schema:
            type: string
        - name: limit
          in: query
          description: Paginação limit
          schema:
            type: string
      responses:
        '200':
          description: Resposta da Requisição
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                      description: ID da Pessoa
                    matricula:
                      type: string
                      description: Matrícula do aluno
                    nome:
                      type: string
                      description: Nome do aluno
                    data_nascimento:
                      type: string
                      description: Data de nascimento do aluno
              examples:
                Sucesso:
                  value:
                    - id: 1282
                      matricula: SB-10015
                      nome: Miriam Amaral Dambros
                      data_nascimento: '2015-11-23'
                    - id: 1287
                      matricula: SB-10020
                      nome: Margarida Alvarenga Nuness
                      data_nascimento: '2015-09-22'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroToken'
    post:
      tags:
        - Alunos
      summary: Aluno - Cadastro
      description: |
        Cadastra um aluno no sistema
      operationId: Aluno - Create
      requestBody:
        description: Dados do aluno
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AlunoCadastro'
        required: true
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                    description: ID da Pessoa
                    example: 1234
                  nome:
                    type: string
                    description: Nome Cadastrado
                    example: Arthur da Silva
                  matricula:
                    type: string
                    description: Matrícula Cadastrada
                    example: MAT-1234
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroToken'
        '422':
          description: Erro de validação de dados
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        rule:
                          type: string
                          description: Regra ou campo que  que retornou erro
                        field:
                          type: string
                          description: Campo que gerou o erro
                        message:
                          type: string
                          description: Descrição do erro
              examples:
                Unprocessable Entity:
                  value:
                    errors:
                      - rule: unique
                        field: cpf
                        message: cpf already exists
                      - rule: unique
                        field: email
                        message: email already exists
      x-codegen-request-body-name: body,
  /aluno/{pessoa_id}:
    get:
      tags:
        - Alunos
      summary: Aluno - Busca por ID
      description: Busca os dados cadastrais do aluno utiliando o ID (da Pessoa)
      operationId: Aluno - View Pessoa ID
      parameters:
        - name: pessoa_id
          in: path
          description: ID da pessoa
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Resposta da requisição
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Aluno'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroToken'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
  /aluno/{matricula}:
    get:
      tags:
        - Alunos
      summary: Aluno - Busca pela Matrícula
      description: Busca os dados cadastrais do aluno utiliando a matrícula.
      operationId: Aluno - View Matrícula
      parameters:
        - name: matricula
          in: path
          description: Matrícula do aluno
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Resposta da requisição
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Aluno'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroToken'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
  /pessoa:
    get:
      tags:
        - Pessoa
      summary: Pesosa - Lista
      description: |
        Lista as pessoas cadastradas no sistema, pode ser utilizado paginação
      operationId: Pessoa - Index
      parameters:
        - name: offset
          in: query
          description: Paginação offset
          schema:
            type: string
        - name: limit
          in: query
          description: Paginação limit
          schema:
            type: string
      responses:
        '200':
          description: Resposta da Requisição
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                      description: ID da Pessoa
                    nome:
                      type: string
                      description: Nome da Pessoa
                    data_nascimento:
                      type: string
                      description: Data de nascimento
                    cpf:
                      type: string
                      description: CPF da pessoa
                    sexo:
                      type: string
                      description: Sexo da pessoa
                    email:
                      type: string
                      description: Email
              examples:
                Sucesso:
                  value:
                    - id: 1277
                      nome: Fabiana Policarpo Leitão
                      data_nascimento: '2015-07-14'
                      cpf: '62887035240'
                      sexo: F
                      email: email@provedor.com.br
                    - id: 1281
                      nome: Maria Luiza Nunes
                      data_nascimento: '2015-03-23'
                      cpf: '92541018851'
                      sexo: F
                      email: email2@provedor.com.br
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroToken'
  /pessoa/{id}:
    get:
      tags:
        - Pessoa
      summary: Pessoa - Detalhes
      description: >
        Detalhe da pessoa cadastrada no sistema independente do perfil. <br>

        Não irá exibir o dado da matrícula ou código de professor, apenas os
        dados cadastrais mais detalhados.
      operationId: Pessoa - View
      parameters:
        - name: id
          in: path
          description: ID da pessoa
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Resposta da requisição
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pessoa'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroToken'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
  /coligada:
    get:
      tags:
        - Coligada
      summary: Coligada - Lista
      description: |
        Lista as coligadas cadastradas no sistema
      operationId: Coligada - Index
      responses:
        '200':
          description: Resposta da Requisição
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                      description: ID da Coligada
                    nome:
                      type: string
                      description: Nome da Coligada
                    cnpj:
                      type: string
                      description: CNPJ da Coligada
              examples:
                Sucesso:
                  value:
                    - id: 1
                      nome: WClasses Escola de Ensino Infantil e Fundamental
                      cnpj: '16590268000160'
                    - id: 2
                      nome: WClasses Escola de Ensino Médio
                      cnpj: '59500702000187'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroToken'
  /coligada/{id}:
    get:
      tags:
        - Coligada
      summary: Coligada - Detalhes
      description: |
        Exibe todos os detalhes de uma coligada
      operationId: Coligada - View
      parameters:
        - name: id
          in: path
          description: ID da coligada
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Resposta da requisição
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                    description: ID da Coligada
                    example: 1
                  nome:
                    type: string
                    description: Nome da coligada
                    example: WClasses Escola de Ensino Infantil e Fundamental
                  cnpj:
                    type: string
                    description: CNPJ da coligada
                    example: '16590268000160'
                  razao_social:
                    type: string
                    description: Razão social da Coligada
                    example: WClasses Escola de Ensino Infantil e Fundamental LTDA
                  nome_fantasia:
                    type: string
                    description: Nome Fantasia da Coligada
                    example: WClasses Educacional
                  cep:
                    type: string
                    description: CEP da Coligada
                    example: '04739010'
                  endereco:
                    type: string
                    description: Endereço da Coligada
                    example: R. Nove de Julho
                  numero:
                    type: string
                    description: Número do endereço
                    example: '72'
                  bairro:
                    type: string
                    description: Bairro da coligada
                    example: Santo Amaro
                  cidade:
                    type: string
                    description: Cidade da Coligada
                    example: São Paulo
                  estado:
                    type: string
                    description: Estado da Coligada
                    example: SP
                  complemento:
                    type: string
                    description: Complemento do endereço
                    example: Sala 116
                  telefone1:
                    type: string
                    description: Telefone 1 - Coligada
                    example: '1133118185'
                  telefone2:
                    type: string
                    description: Telefone 2 - Coligada
                    example: '11999995555'
                  site:
                    type: string
                    description: Site da Coligada
                    example: https://wclasses.com.br
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroToken'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
  /filial:
    get:
      tags:
        - Filial
      summary: Filial - Lista
      description: |
        Lista as filiais cadastradas no sistema
      operationId: Filial - Index
      responses:
        '200':
          description: Resposta da Requisição
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: ID da Filial
                    nome:
                      type: string
                      description: Nome da Filial
                    cnpj:
                      type: string
                      description: CNPJ da Filial
              examples:
                Sucesso:
                  value:
                    - id: 1
                      nome: WClasses - Santo Amaro
                      cnpj: '69639665000146'
                    - id: 2
                      nome: WClasses - Centro
                      cnpj: '93868150000100'
                    - id: 3
                      nome: WClasses - São Caetano
                      cnpj: '43300630000194'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroToken'
  /perletivo:
    get:
      tags:
        - Período Letivo
      summary: Período Letivo - Lista
      description: |
        Lista de períodos letivos cadastrados.
      operationId: Perletivo - Index
      parameters:
        - in: query
          name: offset
          schema:
            type: integer
          description: Paginação offset
        - in: query
          name: limit
          schema:
            type: integer
          description: Paginação limit
      responses:
        '200':
          description: Resposta da Requisição
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    codigo:
                      type: string
                      description: Código do período letivo
                    descricao:
                      type: string
                      description: Descrição do período letivo
                    ano:
                      type: number
                      description: Ano que o período letivo ocorre
                    aberto:
                      type: string
                      description: |
                        Se o período letivo esta aberto. Valores possíveis:
                         * `S` - Sim
                         * `N` - Não
                      format: enum[S, N]
                      example: S
                    corrente:
                      type: string
                      description: >
                        Se o período letivo é o período corrente Valores
                        possíveis:
                         * `S` - Sim
                         * `N` - Não
                      format: enum[S, N]
                      example: S
              examples:
                Sucesso:
                  value:
                    - codigo: '2021'
                      descricao: Ano letivo 2021
                      ano: 2021
                      aberto: 'N'
                      corrente: 'N'
                    - codigo: '2022'
                      descricao: Ano letivo 2022
                      ano: 2022
                      aberto: S
                      corrente: S
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroToken'
  /perletivo/{codigo}:
    get:
      tags:
        - Período Letivo
      summary: Período Letivo - Detalhes
      description: |
        Detalhes do período letivo
      operationId: Perletivo - View
      parameters:
        - name: codigo
          in: path
          description: Código do Período Letivo
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Resposta da Requisição
          content:
            application/json:
              schema:
                type: object
                properties:
                  codigo:
                    type: string
                    description: Código do período letivo
                  descricao:
                    type: string
                    description: Descrição do período letivo
                  ano:
                    type: number
                    description: Ano que o período letivo ocorre
                  aberto:
                    type: string
                    description: |
                      Se o período letivo esta aberto. Valores possíveis:
                         * `S` - Sim
                         * `N` - Não
                      format: enum[S, N]
                  corrente:
                    type: string
                    description: >
                      Se o período letivo é o período corrente Valores
                      possíveis:
                       * `S` - Sim
                       * `N` - Não
                    format: enum[S, N]
              examples:
                Sucesso:
                  value:
                    codigo: '2022'
                    descricao: Ano letivo 2022
                    ano: 2022
                    aberto: S
                    corrente: S
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroToken'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
  /disciplina:
    get:
      tags:
        - Disciplinas
      summary: Disciplinas - Lista
      description: >
        Lista as disciplinas cadastradas no sistema. <br>

        As disciplinas são cadastradas globalmente e compartilhadas entre as
        instituições.
      operationId: Disciplina - Index
      parameters:
        - in: query
          name: offset
          schema:
            type: integer
          description: Paginação offset
        - in: query
          name: limit
          schema:
            type: integer
          description: Paginação limit
      responses:
        '200':
          description: Resposta da Requisição
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    codigo:
                      type: string
                      description: Código da disciplina
                    nome:
                      type: string
                      description: Nome da Disciplina
                    nome_reduzido:
                      type: string
                      description: Nome reduzido da Disciplina
              examples:
                Sucesso:
                  value:
                    - codigo: '001'
                      nome: Português
                      nome_reduzido: POR
                    - codigo: '002'
                      nome: Matemática
                      nome_reduzido: MAT
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroToken'
  /disciplina/{codigo}:
    get:
      tags:
        - Disciplinas
      summary: Disciplina - Detalhes
      description: |
        Detalhe da disciplina
      operationId: Disciplina - View
      parameters:
        - name: codigo
          in: path
          description: Código da Disciplina
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Resposta da Requisição
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    codigo:
                      type: string
                      description: ID da disciplina
                    nome:
                      type: string
                      description: Nome da Disciplina
                    nome_reduzido:
                      type: string
                      description: Nome reduzido da Disciplina
              examples:
                Sucesso:
                  value:
                    codigo: '001'
                    nome: Português
                    nome_reduzido: POR
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroToken'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
  /cursosinstituicao:
    get:
      tags:
        - Cursos da Instituição
      summary: Cursos Instituição - Lista
      description: >
        Cursos que foram cadastrados e disponibilizados para a instituição de
        ensino. <br>

        Os cursos são separados por coligada. Geralmente seguem um padrão:


        * Ensino Infantil

        * Ensino Fundamental I

        * Ensino Fundamental II

        * Ensino Médio
      operationId: Cursos Instituição - Index
      parameters:
        - in: query
          name: offset
          schema:
            type: integer
          description: Paginação offset
        - in: query
          name: limit
          schema:
            type: integer
          description: Paginação limit
      responses:
        '200':
          description: Resposta da Requisição
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    codigo:
                      type: number
                      description: Código do Curso Instituição
                    nome:
                      type: string
                      description: Nome do Curso Instituição
                    coligada_codigo:
                      type: number
                      description: ID/Código da coligada
              examples:
                Sucesso:
                  value:
                    - codigo: 1
                      nome: Educação Infantil
                      coligada_codigo: 1
                    - codigo: 2
                      nome: Ensino Fundamental  I
                      coligada_codigo: 1
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroToken'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
  /cursosinstituicao/{id}:
    get:
      tags:
        - Cursos da Instituição
      summary: Cursos Instituição - Detalhes
      description: |
        Cursos da Instituição <br>

        Aqui são listados os tipos de cursos cadastrados nas coligadas. <br>
        Ex: Curso "Ensino Fundamental II" na Coligada "WClasses Educacional"
      operationId: Cursos Instituição - View
      parameters:
        - name: id
          in: path
          description: ID do Curso
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Resposta da Requisição
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                      description: ID do Curso
                    nome:
                      type: string
                      description: Nome do Curso
                    coligada_id:
                      type: number
                      description: ID da Coligada
                    coligada_nome:
                      type: string
                      description: Nome da coligada que o Curso pertence
                    tipo_curso_id:
                      type: number
                      description: ID do Tipo de Curso
                    tipo_curso_descricao:
                      type: string
                      description: Descrição do tipo de curso.
                    curso_modalidade_id:
                      type: number
                      description: ID da modalidade do Curso
                    curso_modalidade_nome:
                      type: string
                      description: Nome da modalidade do curso
              examples:
                Sucesso:
                  value:
                    id: 1
                    nome: Educação Infantil
                    coligada_id: 1
                    coligada_nome: WClasses Educacional
                    tipo_curso_id: 1
                    tipo_curso_descricao: Ensino Infantil
                    curso_modalidade_id: 1
                    curso_modalidade_nome: Presencial
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroToken'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
  /cursos:
    get:
      tags:
        - Cursos por Filial
      summary: Cursos da Filial - Lista
      description: |
        Lista os Cursos relacionados as filiais
      operationId: Cursos - Index
      parameters:
        - in: query
          name: offset
          schema:
            type: integer
          description: Paginação offset
        - in: query
          name: limit
          schema:
            type: integer
          description: Paginação limit
      responses:
        '200':
          description: Resposta da Requisição
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                      description: ID do curso
                    nome:
                      type: string
                      description: Nome do Curso
                    filial_id:
                      type: number
                      description: ID da Filial
              examples:
                Sucesso:
                  value:
                    - id: 1
                      nome: Educação Infantil
                      filial_id: 1
                    - id: 2
                      nome: Ensino Fundamental I
                      filial_id: 3
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroToken'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
  
  ## Turma              
  /turma:
    get:
      tags:
      - Turmas
      summary: Turma - Index
      description: |
        Lista as turmas cadastradas no sistema, pode ser utilizado paginação.
      operationId: Turma - View
      parameters:
        - name: offset
          in: query
          description: Paginação offset
          schema:
            type: string
        - name: limit
          in: query
          description: Paginação limit
          schema:
            type: string
      responses:
        '200':
          description: "Resposta da Requisição"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                      description: "ID da Turma"
                    nome:
                      type: string
                      description: "Nome da Turma"
                    codigo:
                      type: string
                      description: "Código da Turma"
                    periodo_letivo_id:
                      type: number
                      description: "ID do Período letivo"
                    curso_id:
                      type: number
                      description: "ID do Período letivo"
              examples:
                SUCESSO:
                  value:
                   - id: 1
                     nome: "Infantil I - Manhã"
                     codigo: "INF1M"
                     periodo_letivo_id: 2022
                     curso_id: 1
                   - id: 2
                     nome: "3º Ano Fundamental I"
                     codigo: "EFI-3A"
                     periodo_letivo_id: 2022
                     curso_id: 4
        401:
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroToken'
        404:
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'                
  
  
  ## 
  
  /contrato/pessoa/{id}:
    get:
      tags:
        - Contrato
      summary: Contratos do Responsável
      description: |
        Lista os contratos de um responsável financeiro
      operationId: Contrato - Index
      parameters:
        - name: id
          in: path
          description: ID da pessoa
          required: true
          schema:
            type: integer
        - name: status
          in: query
          description: |
            Status do contrato.
            Lista de Status:
             * `1` - Ativo
             * `2` - Cancelado
          schema:
            type: integer
            enum:
              - 1
              - 2
      responses:
        '200':
          description: Resposta da requisição
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Contrato'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroToken'
  /contrato/{id}:
    get:
      tags:
        - Contrato
      summary: Contrato - Detalhes
      description: |
        Exibe os detalhes do contrato
      operationId: Contrato - View
      parameters:
        - name: id
          in: path
          description: ID do contrato
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Resposta da requisição
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContratoView'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroToken'
  /fatura/pessoa/{id}:
    get:
      tags:
        - Fatura
      summary: Faturas do responsável
      description: |
        Retorna as Faturas de um responsável financeiro.
        Pode ser utilizado filtros como "ano", "mes" e "status"
      operationId: Fatura - View
      parameters:
        - name: id
          in: path
          description: ID da Pessoa (Responsável)
          required: true
          schema:
            type: number
        - name: ano
          in: query
          description: Ano de vencimento da Fatura
          schema:
            type: integer
        - name: mes
          in: query
          description: Mês de vencimento da Fatura
          schema:
            type: integer
            enum:
              - 1
              - 2
              - 3
              - 4
              - 5
              - 6
              - 7
              - 8
              - 9
              - 10
              - 11
              - 12
        - name: status
          in: query
          description: |
            Lista de Status:
             * `1` - Aberto
             * `2` - Baixado
             * `3` - Baixa Parcial
             * `4` - Baixa Manual
             * `5` - Cancelado
          schema:
            type: integer
            enum:
              - 1
              - 2
              - 3
              - 4
              - 5
      responses:
        '200':
          description: Resposta da requisição
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Fatura'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroToken'
  
  
  ##
  /ocorrencia-escolar/perletivo/{perletivo}/matricula/{matricula}:
    get:
      tags:
        - Ocorrências
      summary: Listar Ocorrências do aluno por período letivo
      description: Listar todas as ocorrências do aluno por período letivo
      operationId: Ocorrências Aluno
      parameters:
        - name: perletivo
          in: path
          description: Código do período letivo
          required: true
          schema:
            type: string
        - name: matricula
          in: path
          description: Matrícula do(a) aluno(a)
          required: true
          schema:
            type: string
        - in: query
          name: offset
          schema:
            type: integer
          description: Paginação offset
        - in: query
          name: limit
          schema:
            type: integer
          description: Paginação limit
      responses:
        200:
          description: "Resposta da Requisição"
          content:
            application/json:
              schema:
                type: array
                items:
                 type: object
                 properties:
                   id:
                     type: number
                     description: "ID da ococrrência"
                   matricula:
                      type: string
                      description: "Matrícula do aluno"
                   disciplina_codigo:
                      type: string
                      description: "Código da disciplina"
                   data_ocorrencia:
                      type: string
                      description: "Data da ocorrência"
                   turma_id:
                      type: number
                      description: "ID da turma"     
                   tipo_ocorrencia_id:
                      type: number
                      description: "ID do tipo de ocorrência"
                   observacao:
                      type: string
                      description: "Observação geral"      
                   observacao_individual:
                      type: string
                      description: "Observação individual"
                   turma:
                      type: object
                      description: "Dados da turma"
                      properties:
                         id:
                          type: number
                          description: "Chave primária da turma"
                         codigo:
                          type: string
                          description: "Código da turma"
                         nome:
                          type: string
                          description: "Nome da turma"
                   tipoOcorrencia:
                       type: object
                       description: "Dados do tipo de ocorrência"
                       properties:
                         id:
                          type: number
                          description: "Chave primária do tipo de ocorrências"
                         descricao:
                          type: string
                          description: "Descrição do grupo de ocorrências"
                   disciplina:
                      type: object
                      description: "Dados da disciplina"
                      properties:
                        codigo: 
                          type: string
                          description: "Código da disciplina"
                        nome: 
                          type: string
                          description: "Nome da disciplina"
                   relatorPessoa:
                      type: object
                      properties:
                        nome:
                          type: string
                          description: "Nome do relator da ococcência"
                        id:
                          type: number
                          description: "ID do Relator da ocorrência"
                        
                  
              examples:
                success:
                  value:
                   - id: 1
                     matricula: "0992"
                     disciplina_codigo: "5"
                     data_ocorrencia: "2021-03-08T03:00:00.000Z"
                     turma_id: 14
                     relator_id: 158
                     tipo_ocorrencia_id: 28
                     observacao: "Os alunos foram avisados quanto as atividades que começaram a perder nota para cada lição não feita."
                     observacao_individual: "Não fez em casa e durante a aula só fez a número 1 incompleta"
                     turma: 
                          id : 14
                          codigo: "EFII6T"
                          nome: "6°Ano T"
                     tipoOcorrencia:
                          id: 28
                          descricao: "Falta de Tarefa / Trabalho - Tarefas de Casa"
                          grupo_ocorrencia_id: 1
                        
                     disciplina: 
                          codigo: "5"
                          nome: "Geografia"
                        
                     relatorPessoa: 
                          nome: "Nome do Relator"
                          id: 158
        401:
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroToken'              
components:
  schemas:
    
    Aluno:
      type: object
      properties:
        id:
          type: number
          description: ID da Pessoa
          example: 1234
        matricula:
          type: string
          description: "Matrícula do Aluno"
          example: "MAT-1234"
        nome:
          type: string
          description: Nome do Aluno
          example: "Emanuel Sacramento Braga"
        data_nascimento:
          type: string
          format: date
          description: "Data de nascimento do aluno formato yyyy-mm-dd"
          example: "2015-05-14"
        cpf:
          type: string
          description: "CPF do aluno"
          example: '94358274897'
        nome_social:
          type: string
          description: >-
            Nome social do aluno, se existir deve ser o nome principal a ser
            utilizado
        nome_afetivo:
          type: string
          description: >-
            Nome social do aluno, se existir e não houver nome social cadastrado
            deve ser o nome principal a ser utilizado
        sexo:
          type: string
          description: >-
            Sexo do aluno:<br> * `M` - Masculino * `F` - Feminino * `N` - Não
            declarar
          format: enum["M", "F", "N"]
          example: "M"
        endereco:
          description: Objeto com os dados do endereço residencial
          type: object
          properties:
            cep:
              description: ''
              maxLength: 8
              minLength: 8
              type: string
              example: '05535000'
            rua:
              description: "Endereço - Rua"
              maxLength: 140
              type: string
              example: "Rua dos coqueiros"
            numero:
              description: "Endereço - Número"
              maxLength: 12
              type: string
              example: '196'
            complemento:
              description: "Endereço - Complemento"
              maxLength: 150
              type: string
              example: Casa 2
            bairro:
              maxLength: 50
              type: string
              example: "Vila dos Coqueiros"
            cidade:
              maxLength: 50
              type: string
              example: "São Paulo"
            estado:
              maxLength: 2
              minLength: 2
              type: string
              description: "Código da UF"
              example: SP
            cidade_ibge:
              maxLength: 50
              description: "Código da Cidade no IBGE"
              type: string
              example: '3550308'
        email:
          type: string
          description: "Email do aluno"
          example: "email@provedor.com.br"
        telefone1:
          type: string
          description: Telefone do aluno
          example: '1155712458'
        telefone2:
          type: string
          description: "Telefone 2 do aluno"
          example: '11955515059'
        data_criacao:
          type: string
          description: "Data do cadastro"
          example: '2021-08-26T11:49:33.000-03:00'
        responsaveis:
          description: |
            Array com os responsáveis, os objetos são separados pelo tipo de relação
          type: array
          items:
            type: object
            properties:
              pessoa_id:
                description: "ID da pessoa"
                type: number
                example: 123
              nome: 
                description: "Nome do Responsável"
                type: string
                example: "Paulo da Silva"
              tipo_relacao_id:
                description: | 
                  ID da relação aluno x pessoa. Valores Possíveis: <br>
                  * `1` - Responsável Acadêmico
                  * `2` - Responsável Financeiro
                  * `3` - Pai
                  * `4` - Mãe
                  * `5` - Irmão(a)
                  * `7` - Tio(a)
                  * `9` - Avô(ó)
                  * `11` - Primo(a)
                  * `13` - Responsável Legal
                  * `14` - Padastro
                  * `15` - Madastra
                type: number
                example: 1
              tipo_relacao: 
                description: "Descrição do tipo da relação"
                type: string
                example: "Responsável Acadêmico"
        matriculas: 
          description: "Últimas 3 matrículas do aluno na instituição"
          type: array
          items:
            type: object
            properties:
              id: 
                type: number
                example: 121
              periodo_letivo:
                type: string
                example: "2022"
              curso: 
                type: string
                example: "Ensino Fundamental I"
              periodo:
                type: string
                example: "2º ano"
              turno:
                type: string
                example: "Manhã"

    AlunoCadastro:
      required:
        - data_nascimento
        - matricula
        - nome
        - senha
        - filial
      type: object
      properties:
        nome:
          type: string
          description: Nome do Aluno
          example: Arthur da Silva
        data_nascimento:
          type: string
          description: Data de nascimento formato yyyy-mm-dd
          format: date
          example: '2012-01-20'
        matricula:
          type: string
          description: Matrícula do Aluno
          example: MAT-1234
        sexo:
          type: string
          description: |
            Sexo do aluno:
             * `M` - Masculino
             * `F` - Feminino
             * `N` - Não Declarar
          format: enum[M, F, N]
          example: S
        cpf:
          type: number
          description: CPF do aluno - Apenas números
          example: 82544369086
        senha:
          type: string
          description: Senha de acesso ao portal
          example: 123456789@abcdef
        filial:
          type: number
          description: ID da filial que o aluno será cadastrado, deve ser um ID válido
          example: 1
        estadocivil:
          type: string
          description: |
            Estado Civil:
             * `Solteiro`
             * `Casado`
             * `Separado`
             * `Divorciado`
             * `Viuvo`
             * `Marital`
             * `Separado Judicialmente`
             * `União Estável`
          format: >-
            enum["Solteiro", "Casado", "Separado", "Divorciado", "Viuvo",
            "Marital", "Separado Judicialmente", "União Estável"]
          example: Solteiro
        cep:
          type: string
          description: Endereço - CEP
          example: '08473805'
        rua:
          type: string
          description: Endereço - Rua
          example: Rua Flamboyant
        numero:
          type: string
          description: Endereço - Número
          example: '35'
        complemento:
          type: string
          description: Endereço - Complemento
          example: Fundos
        bairro:
          type: string
          description: Endereço - Bairro
          example: Jardim Pérola II
        cidade:
          type: string
          description: 'Telefone 2: Celular'
          example: São Paulo
        email:
          type: string
          description: E-mail do aluno
          format: email
          example: arthur.silva@email.com.br
    
    Contrato:
      type: object
      properties:
        id:
          type: string
          format: uuid
        plano_pagamento_id:
          type: string
          description: ID do Plano de Pagamento
          format: uuid
        servico_nome:
          type: string
          description: Nome do serviço contratado
          example: Mensalidade Escolar - Ensino Fundamental
        validade_inicio:
          type: string
          description: Validade Inicial do contrato
          format: date
          example: {}
        validade_fim:
          type: string
          description: Validade Final do contrato
          format: date
          example: {}
        parcelas:
          type: string
          description: Total de parcelas (parcelamento)
          example: '12'
        status:
          type: number
          description: |
            Lista de Status:
             * `1` - Ativo
             * `2` - Cancelado
             
          format: enum[1, 2]
          example: 1
    
    ContratoView:
      type: object
      properties:
        id:
          type: string
          format: uuid
        plano_pagamento_id:
          type: string
          description: ID do Plano de Pagamento
          format: uuid
        responsavel_financeiro_id:
          type: string
          description: ID da Pessoa - Responsável Financeiro
          format: uuid
        matricula_perletivo_id:
          type: string
          description: ID da matrícula no período letivo (Matricula Perletivo)
          format: uuid
        validade_inicio:
          type: string
          description: Validade Inicial do contrato
          format: date
          example: {}
        validade_fim:
          type: string
          description: Validade Final do contrato
          format: date
          example: {}
        status:
          type: number
          description: |
            Lista de Status:
             * `1` - Ativo
             * `2` - Cancelado
          format: enum[1, 2]
          example: 1
        servico_nome:
          type: string
          description: Nome do serviço contratado
          example: Mensalidade Escolar - Ensino Fundamental
        servico_descricao:
          type: string
          description: Descrição do serviço contratado
          example: Mensalidade Escolar - Ensino Fundamental
        servico_periodo_inicio:
          type: string
          description: Início da prestação do serviço contratado
          format: date
          example: {}
        servico_periodo_fim:
          type: string
          description: Fim da prestação do serviço contratado
          format: date
          example: {}
        plano_nome:
          type: string
          description: Nome do Plano de Pagamento contratado
          example: Mensalidade EF - 2021 - 12x
        total_bruto:
          type: number
          description: >-
            Total Bruto do Contrato, sem considerar descontos ou valor
            proporcional
          format: decimal
          example: 1200
        valor_poporcional:
          type: number
          description: Valor Proporcional ao período de ingresso/contratação
          format: decimal
          example: 6000
        desconto_incondicional:
          type: number
          description: Desconto incondicional aplicado
          format: decimal
          example: 1000
        desconto_condicional:
          type: number
          description: Desconto condicional aplicado
          format: decimal
          example: 500
        total_liquido:
          type: number
          description: >-
            Total líquido do contrato, aplicado descontos (apenas
            incondicionais) em cima do valor proporcional
          format: decimal
          example: 5000
        parcelas:
          type: string
          description: Total de parcelas (parcelamento)
          example: '12'
        dia_vencimento:
          type: string
          description: Dia selecionado para vencimento das faturas
          example: '15'
        tipo:
          type: string
          description: |
            Tipo do contrato:
             * `S` - Serviço
             * `P` - Produto
          format: enum["S", "P"]
          example: S
        data_cadastro:
          type: string
          description: Data de cadastro/contratação
          format: date
          example: {}
    
    ErroToken:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              message:
                type: string
                description: Descrição do erro
                example: 'E_INVALID_API_TOKEN: Invalid API token'
    
    NotFound:
      type: object
      properties:
        message:
          type: string
          description: Mensagem de erro
          example: Not Found
        code:
          type: number
          description: Código do erro
          example: 404
        error:
          type: string
          description: Descriçao técnica do erro
          example: E_ROW_NOT_FOUND
    
    Fatura:
      type: object
      properties:
        id:
          type: string
          format: uuid
        vencimento:
          type: string
          description: Data de vencimento da fatura
          format: date
          example: {}
        valor_bruto:
          type: number
          description: Valor Bruto - Sem descontos aplicados
          format: decimal
          example: 1499.9
        desconto_condicional:
          type: number
          description: Valido até a data de vencimento
          format: decimal
          example: 19.9
        desconto_incondicional:
          type: number
          description: Válido mesmo após o vencimento
          format: decimal
          example: 29.9
        desconto_adicional:
          type: number
          description: Outros tipos de desconto
          format: decimal
          example: 9.9
        hash:
          type: string
          description: Hash de acesso ao boleto
          example: 76ec5c9b169786fa62d597be5b6587732f793ee0
        linha_digitavel:
          type: string
          description: Linha digitável de pagamento do boleto
          example: 34191.09008 04071.558451 41363.280002 1 87180000206667
        status_id:
          type: number
          description: |
            Status da Fatura.
            Lista de Status:
             * `1` - Aberto
             * `2` - Baixado
             * `3` - Baixa Parcial
             * `4` - Baixa Manual
             * `5` - Cancelado
          format: enum[1, 2, 3, 4, 5]
          example: 1
        status_remessa:
          type: number
          description: |
            Status da fatura na remessa bancária.
            Lista de Status:
             * `0` - Não Remetido
             * `1` - Remetido
             * `2` - Registrado
             * `3` - Não registrado
          format: enum[0, 1, 2, 3]
          example: 1
    
    Pessoa:
      required:
        - cpf
        - data_nascimento
        - email
        - id
        - nome
        - sexo
        - tipo_pessoa
      type: object
      properties:
        id:
          type: string
          description: ID da Pessoa
          example: 120
        cpf:
          type: string
          description: CPF da pessoa, apenas os números
          example: '08654587075'
        tipo_pessoa:
          type: string
          description: |
            Valores aceitos:
             * `F` - Física
             * `J` - Jurídica
          example: F
          enum:
            - F
            - J
        nome:
          type: string
          description: Nome completo da Pessoa
          example: João da Silva
        nome_social:
          type: string
          description: Nome Social, se existir deve ser o nome principal a ser utilizado
        nome_afetivo:
          type: string
          description: >-
            Nome Afetivo, se existir e não houver nome social, deve ser o
            principal
        data_nascimento:
          type: string
          description: Data de nascimento formato yyyy-mm-dd
          format: date
          example: '1990-01-01'
        estado_civil:
          description: |
            Estado civil, valores possíveis:
              * `Solteiro (a)` - Solteiro (a)
              * `Casado (a)` - Casado (a)
              * `Divorciado (a)` - Divorciado (a)
              * `Viúvo (a)` - Viúvo (a)
              * `Marital (a)` - Marital (a)
              * `Separado (a)` - Separado (a)
              * `União Estável (a)` - União Estável (a)
          type: string
          example: Casado (a)
          enum:
            - Solteiro (a)` - Solteiro (a)
            - Casado (a)` - Casado (a)
            - Divorciado (a)` - Divorciado (a)
            - Viúvo (a)` - Viúvo (a)
            - Marital (a)` - Marital (a)
            - Separado (a)` - Separado (a)
            - União Estável (a)` - União Estável (a)
        sexo:
          type: string
          description: |
            Valores aceitos:
             * `F` - Feminino
             * `M` - Masculino
             * `N` - Não declarar
          example: M
          enum:
            - M
            - F
            - 'N'
        endereco:
          description: Objeto com os dados do endereço residencial
          type: object
          properties:
            cep:
              description: ''
              maxLength: 8
              minLength: 8
              type: string
              example: '05535000'
            rua:
              description: Endereço - Rua
              maxLength: 140
              type: string
              example: Rua dos coqueiros
            numero:
              description: Endereço - Número
              maxLength: 12
              type: string
              example: '196'
            complemento:
              description: Endereço - Complemento
              maxLength: 150
              type: string
              example: Casa 2
            bairro:
              maxLength: 50
              type: string
              example: Vila dos Coqueiros
            cidade:
              maxLength: 50
              type: string
              example: São Paulo
            estado:
              maxLength: 2
              minLength: 2
              type: string
              description: Código da UF
              example: SP
            cidade_ibge:
              maxLength: 50
              description: Código da Cidade no IBGE
              type: string
              example: '3550308'
        endereco_comercial:
          description: Objeto com os dados do endereço residencial
          type: object
          properties:
            empresa:
              description: Nome da empresa
              type: string
              example: Empresa de Tecidos LTDA
            cep:
              description: ''
              maxLength: 8
              minLength: 8
              type: string
              example: '05569090'
            rua:
              description: Endereço Comercial - Rua
              maxLength: 140
              type: string
              example: Rua Frei Clemente
            numero:
              description: Endereço Comercial - Número
              maxLength: 12
              type: string
              example: '655'
            complemento:
              description: Endereço Comercial - Complemento
              maxLength: 150
              type: string
              example: Fundos
            bairro:
              maxLength: 50
              type: string
              example: Vila Feliz
            cidade:
              maxLength: 50
              type: string
              example: São Paulo
            estado:
              maxLength: 2
              minLength: 2
              type: string
              description: Código da UF
              example: SP
        email:
          description: E-mail
          type: string
          format: email
          example: contato@email.com.br
        telefone1:
          description: Telefone 1
          type: string
          example: '1155712458'
        telefone2:
          description: Telefone 2
          type: string
          example: '11955515059'
        autoriza_imagem:
          description: Se o usuário autoriza o uso da imagem
          type: boolean
          example: 1
        data_criacao:
          description: Data da criação do usuário
          type: string
          format: date
          example: '2021-08-26T11:49:33.000-03:00'
        data_alteracao:
          description: Data da última alteração do usuário
          type: string
          format: date
          example: '2021-08-26T11:49:33.000-03:00'
  
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
